<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
<head th:replace="Layout/layout :: head"></head>
<body>
	<div class="container">

		<header th:replace="Layout/layout :: siteHeader"></header>

		<h1 th:text="${title}"></h1>
		<hr />

		<section class="content jumbotron">
			<form th:action="@{/car/save}" th:object="${car}" method="post">
				
				<input type="hidden" th:field="*{id}">
				
				<div class="form-group">
					<label for="numberPlate">Number plate</label> 
					<input type="text"	th:field="*{numberplate}" class="form-control"
						placeholder="Write number plate" />
				</div>

				<div class="form-group">
					<label for="brand">Brand</label> 
					<select id="brand" class="form-control" th:field="*{model.brand.id}">
						<option value="">-- Select a brand --</option>
						<option th:each="brand : ${brands}" th:text="${brand.descrip}"
							th:value="${brand.id}"></option>
					</select>
				</div>

				<div class="form-group">
					<label for="model">Model</label> 
					<select id="model" class="form-control" th:field="*{model}">
						<option value="">-- Select a model --</option>
						<option th:each="model : ${models}" th:text="${model.descrip}"
							th:value="${model.id}"></option>
					</select>
				</div>

				<div class="form-group">
					<label for="price">Price</label> <input type="number"
						th:field="*{price}" class="form-control numeric"
						, placeholder="Write the price without decimals" />
				</div>

				<input th:if="*{id}" type="submit" class="btn btn-primary" value="Modify" />
				<input th:if="*{id == null} " type="submit" class="btn btn-primary" value="Add" />
				
			</form>
		</section>

		<script type="text/javascript">
			$(document).ready(function() {
				$("#brand").change(function() {					
					$.ajax({
							type : 'GET',
							url : '/car/loadmodels/' + $("#brand").val(),
							success : function(result) {								
								$("#model").empty();
								$("#model").append('<option value="">-- Select a model --</option>');
								var result = JSON.parse(result);
								$.each(result,function(i,model) {
									$("#model").append('<option value="' + model.id + '">'
																			+ model.descrip
																			+ '</option>');
									});
							},
							error : function(
									ex) {
								alert('Failed to retrieve models.'
										+ ex);
							}
						});
				return false;
			})
		});
		</script>
	</div>
	<footer th:replace="Layout/layout :: siteFooter"></footer>

</body>
</html>